altair
argon2-cffi
argon2-cffi-bindings
asttokens
async-generator
attrs
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
fonttools
gitdb
GitPython
h11
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
multitasking
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
outcome
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
plotly
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydeck
Pygments
Pympler
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
pywin32
pywinpty
pyzmq
requests
scipy
seaborn
selenium
semver
Send2Trash
six
smmap
sniffio
sortedcontainers
soupsieve
stack-data
streamlit
tenacity
terminado
tinycss2
toml
toolz
tornado
traitlets
trio
trio-websocket
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension
wincertstore
wsproto
yfinance
zipp
